
a,a:hover {
    text-decoration: none;}
.email{
    margin-left:100px;
    float: left;
}
span{font-size: large;
    word-spacing:20px;
    margin-left: 40px;
    margin-right: 10px;
    float: right;
}
table{border:#CC0099;
    border-style:ridge;
}
h2{
    background-color:aqua;
    letter-spacing:8px;
    word-spacing:10px;
    color:red;
    text-shadow: 5px 3px 6px red;
    text-decoration:blink;}
h2{margin-left:400px;
    margin-right:400px;
    border:outset;
}

p{
    background:#CCCCFF;
    text-align:center;
}
ul{
    margin-left:200px;

    text-decoration:underline;

}
h4{text-align:center;
    text-decoration:underline;}

#membership_form fieldset
{
    width:75%;
    padding: 0px 20px  0 0;
    margin: 0px auto;
    border: none;
}

#membership_form fieldset legend {
    color:#000;
    font-size:1.2em;
    padding: 0;
    margin: 0;
}

#membership_form label
{
    width: 200px;
    float: left;
    clear: left;
    margin-right: 0.75em;
}
#membership_form label.inline
{
    width: auto;
    float: none;
}

.location{
    width: 250px;
    float:right;
    margin-top: -80px;
}

.content {
    margin-top: 40px;
}

.content img {
    width: 100%
}
.media{
    width: 100px;
    height: 100px;
}
.social_media ul li{
    list-style: none;
    float: left;
}
